{
  "users": [
    "id": ,
    "name": ,
    "email": , 
    "password": 
  ],
  "messages": [
    "userId": ,
    "recipientId": ,
    "text": ,
    "read": ,
    "id":
  ],
  "posts": [
    "id": ,
    "userId" ,
    "title": ,
    "imageURL": ,
    "description": ,
    "timestamp": 
  ],
  "likes": [
    "id": ,
    "userId": ,
    "postId": 
  ]
}

{
    "users": [{
      "id": 1,
      "name": "Bryce",
      "email": "bryce@class.com", 
      "password": "12345"
    },
    {
      "id": 2,
      "name": "Jim",
      "email": "jim@class.com", 
      "password": "12345"
    }]
}
  
